---
import Layout from "../layouts/DefaultPage.astro";
const title = "Example";
const description = "Description";
---

<Layout {title} {description}>
  <h1>Hello World</h1>
  <a href="/courses">Courses</a>
</Layout>
